################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Velociraptor.sln
/Velociraptor.csproj.user
/Resources/drawable/google_downasaur.xml
/bin
/.vs
/obj
/.gitignore
/packages
/Resources/values/secrets.xml